<!DOCTYPE html>
<html ng-app="sudoku">
<head>
<link rel="stylesheet" href="sudoku.css">
</head>
<body>

<div ng-controller="Sudoku">
   <table class='mainTable'>
        <tr ng-repeat="row in rows">
            <td class="cell row{{$parent.$index}} col{{$index}} solved-{{ cell.value>0 }} puzzleValue-{{ !cell.isSolvedValue }} "  ng-repeat="cell in row">
                <span  ng-click="handleCellClick($event, cell)" >{{cell.value}}</span>
                <table class="hints">
                    <tr ng-repeat="i in [0,1,2]">
                        <td class="active-{{ (cell.hints[3*i+j]) }}"  ng-repeat="j in [1,2,3]"  ng-click="handleHintClick($event, cell, 3*i+j)">{{3*i+j}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div ng-hide="!solved" class="puzzle-solved">Puzzle solved</div>
    <div ng-hide="solved || iteration==0" class="puzzle-not-solved">Puzzle not solved</div>
    <h2>Enter puzzle to solve.</h2>
    <select ng-model="selectPuzzleStr" ng-options="p for p in benchmarks" ng-change="loadPresetPuzzle(selectPuzzleStr)">
            <option value="">Select a puzzle</option>
    </select><br>
    <textarea ng-model="inputPuzzleStr"></textarea>
    <button ng-click="loadPuzzle(inputPuzzleStr)">Load</button>
    <button ng-click="solvePuzzle()">Solve</button>
    <button ng-click="iterateSolver()">Iterate</button>
    <button ng-click="benchmark()">Benchmark</button>



</div>

<script type="text/javascript" src="/dist/app.js"></script>

</body>
</html>
